<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/indexStyles.css'>
    <title>Contact us</title>
</head>
<body>
    <nav>
        <a style = 'margin-right : auto;text-decoration : none;'href = '/'><h1 style = 'font-family : "Candara";color : white;;margin : 20px; font-size: 35px;'>ComRate</h1></a>
        <ul>
            <li><a href = '/'>Home</a></li>
            <li><a href = ''>About us</a></li>
            <li><a href = ''>Contact us</a></li>
        </ul>
        <button onclick = 'sign_login()'>Sign up/Login</button>
    </nav>

    <h1 style = 'color : white; margin : 30px'>Contact us</h1>
    <div style = 'margin : 30px;height : 200px;padding : 10px;background-color: white;'>
        <p>Please do not contact us about any problem with the website as we do not have the mood to entertain you so please fix it yourself <br> To ensure that you cannot contact us, we will not leave any contact details here. Thank you for your cooperation</p>
    </div>
</body>
<script>
    function sign_login() {
        location.href = '/user/signup';
    }
</script>
</html>