<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '/css/profile.css'>
    <script defer src = '/js/profile.js'></script>
    <title>User Profile</title>
</head>
<body onload = 'getUserInfo()'>
    <a style = 'margin-right : auto;text-decoration : none;'href = '/'><h1 style = 'font-family : "Candara";color : white;margin : 20px; font-size: 35px;'>ComRate</h1></a>
    <h2 style = 'text-align:center;color:white'>If you wish to update your User details, please edit the input and click on the green Update button</h2>
    <div class = 'div-btn'>
        <a href = '/user/logout'><button style = 'background-color: orange;'>Log Out</button></a>
        <button id = 'delete' style = 'background-color:red'>Delete your account</button>
    </div>
    <div id = 'user-info'>
    
    </div>
    
</body>
</html>