* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    background-color : #333333;
}

#user-info {
    color : white;
    text-align : center;
}

#user-info h2,p {
    margin: 5px;
}

#user-info h2 {
    text-decoration: underline;
}

button {
    margin: 15px auto;
    outline : none;
    width:100px;
    height:50px;
    cursor : pointer;
}

.div-btn{
    display:flex;
    align-items: center;
    justify-content : center
    
}

form input[type = 'text'], form input[type = 'password'], form input[type = 'email'], form input[type = 'number']{
    display: block;
    margin : 0 auto;
    width: 400px;
    height : 30px;
    text-align: center 
}

#delete{
    margin:10px;
}
