.box input[type = 'text'], .box input[type = 'password'], .box input[type = 'email'], .box input[type = 'number']{
    display: block;
    margin : 10px 0px;
    width: 400px;
    height : 30px;
    text-align: center 
}

.box {
    height: 300px;
    position: absolute;
    top : 45%;
    left : 50%;
    transform: translate(-50%,-50%);

}

.box button {
    padding : 5px;
    width: 200px;
    outline : none;
    border : none;
    border-radius: 40px;
    outline : none;
    margin : auto;
    display : block;
    cursor : pointer;
    
}

.box button:hover {
    background-color : gray;
}

.button-box {
    position : relative;
    background-color : white;
    width: 220px;
    height : 30px;
    margin : auto;
    border-radius: 30px;
}

.button-box button {
    padding: 5px 30px;
    cursor : pointer;
    background :transparent;
    border: none;
    outline : none;
    position : relative;    
}

#signup_selected {
    background: linear-gradient(to right, #ff105f,#ffad0f); 
    position : absolute;
    height: 100%;
    width: 50%;
    border-radius : 30px;
}

#login_selected {
    left:50%;
    background: linear-gradient(to right, #ff105f,#ffad0f); 
    position : absolute;
    height: 100%;
    width: 50%;
    border-radius : 30px;
}

